* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Imágenes/salud.jpg);
    background-position: center;
    background-size: 60vh;
    }

.receta {
    width: 450px;
    background:gray;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Gill Sans MT';
    color:white;
    box-shadow: 7px 13px 37px #000;
}

.receta h4{
    width: 450px;
    padding: 20px;
    border-radius: 1px;
    font-size: 20px;
    margin-bottom: -10px;
    color:black;
    transform: translate(-6.6%, -49%);
    text-align: center;
}


.receta .desc{
    width: 250px;
    border: none;
    padding: 12px;
    margin: 18px 0;
    font-size: 17px;
    transform: translate(30%, -20%);
    
}

input[type="submit"]{
    width: 50%;
    height: 40px;
    border: 1px solid;
    background:rgb(12, 44, 105);
    border-radius: 15px;
    font-size: 10px;
    color:white;
    font-weight: 70;
    cursor: pointer;
    outline: none;
    
}

input[type="submit"]:hover {
    transition: .5s;
}