<!DOCTYPE html
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>

    <center> <h1>OPERACIONES DENTRO DE LA FRUTERIA</h1> </center>
    


              <li><a href="registrar" class="button1">Ingresar Datos</a></li>
              <li><a href="consultas" class="button1">Editar/Eliminar Registros</a></li>
              <li><a href="consulta" class="button1">Consultar Registros</a></li>
              
              


</head>
<body>

</body>
</html>