
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(espacio.jpg);
    background-position: center;
    background-size: 60vh;
    }

.dato {
    width: 500px;
    background:black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Gill Sans MT';
    color:black;
    box-shadow: 7px 13px 37px #000;
}


.dato h4{
    font-size: 20px;
    margin-bottom: 30px;
    color:#F3FF00;
    text-align: center;
}

.nom{
    width: 100px;
    background:none;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
    border: none;
    font-family: 'Georgia';
    font-size: 18px;
    color:white;
    transform: translate(13%, 0%);
    
}


.bot{
    width: 103px;
    background:none;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 16px;
    border: none;
    font-family: 'Georgia';
    font-size: 18px;
    color:burlywood;
    transform: translate(13%, 0%);
    text-align: left;
}



